*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

 
.blue{ 
    background-color: hsl(253 48% 10%); 
    --bg-conteudo: hsl(253 30% 17%);  
    --color-letter-a: hsl(253 51% 100%);
    --color-letter-h: hsl(253 100% 94%);
    --color-letter-p: hsl(253 30% 71%);
    --bg-color-picker: hsl(253 100% 95%);
    --border-section: hsl(253 51% 100%);
    --color-lettter-footer: hsl(253 51% 50%); 
}
 
:root:has(#blue:checked){ 
    background-color: hsl(253 48% 10%); 
    --bg-conteudo: hsl(253 30% 17%);  
    --color-letter-a: hsl(253 51% 100%);
    --color-letter-h: hsl(253 100% 94%);
    --color-letter-p: hsl(253 30% 71%);
    --bg-color-picker: hsl(253 100% 95%);
    --border-section: hsl(253 51% 100%);
    --color-lettter-footer: hsl(253 51% 50%);
}



.light{ 
    background-color: hsl(240 35% 90%); 
    --bg-conteudo: hsl(240 0% 65%); 
    --color-letter-a:hsl(240 10% 10%); 
    --color-letter-h: hsl(240 25% 30%);
    --color-letter-p: hsl(40 50% 0%);  
    --bg-color-picker:hsl(240 0% 95%);
    --border-section: hsl(240 100% 70%);
    --color-lettter-footer: hsl(240 10% 95%); 
}

:root:has(#light:checked){ 
    background-color: hsl(240 35% 90%); 
    --bg-conteudo: hsl(240 0% 65%); 
    --color-letter-a:hsl(240 10% 10%); 
    --color-letter-h: hsl(240 25% 30%);
    --color-letter-p: hsl(40 50% 0%);  
    --bg-color-picker:hsl(240 0% 95%);
    --border-section: hsl(240 100% 70%);
    --color-lettter-footer: hsl(240 10% 95%); 
}


.pink{ 
    background-color: hsl(320 70% 90%); 
    --bg-conteudo: hsl(320 10% 20%); 
    --color-letter-a: hsl(320 51% 30%); 
    --color-letter-h: hsl(320 50% 75%);
    --color-letter-p: hsl(320 30% 90%);
    --bg-color-picker: hsl(320 30% 95%);
    --border-section: hsl(50 100% 70%);
    --color-lettter-footer: hsl(320 50% 50%);
}

:root:has(#pink:checked){ 
    background-color: hsl(320 70% 90%); 
    --bg-conteudo: hsl(320 10% 20%); 
    --color-letter-a: hsl(320 51% 30%); 
    --color-letter-h: hsl(320 50% 75%);
    --color-letter-p: hsl(320 30% 90%);
    --bg-color-picker: hsl(320 30% 95%);
    --border-section: hsl(50 100% 70%);
    --color-lettter-footer: hsl(320 50% 50%); 
}

.dark { 
    background-color: hsl(0 0% 5%); 
    --bg-conteudo: hsl(0 0% 10%); 
    --color-letter-a: hsl(0 30% 90%);
    --color-letter-h: hsl(0 100% 80%);
    --color-letter-p: hsl(0 30% 100%);
    --bg-color-picker: hsl(0 30% 100%);
    --border-section: hsl(0 100% 100%);
    --color-lettter-footer:  hsl(0 100% 70%);
    --bg-form:transparent;  
}

 
:root:has(#dark:checked){ 
    background-color: hsl(0 0% 5%); 
    --bg-conteudo: hsl(0 0% 10%); 
    --color-letter-a: hsl(0 30% 90%);
    --color-letter-h: hsl(0 100% 80%);
    --color-letter-p: hsl(0 30% 100%);
    --bg-color-picker: hsl(0 30% 100%);
    --border-section: hsl(0 100% 100%);
    --color-lettter-footer:  hsl(0 100% 70%); 
    --bg-form:transparent;  
}

body {   
    height: 100%;
    width:100%;
    margin:0; 
    --bg-form:transparent;  
    
}

.containe{
    width:80%;
    margin: auto; 

}


h1, h2{
    color: var(--color-letter-h); 
}
p{
    color: var(--color-letter-p); 
    font-size: 18px;
    text-align: justify;
} 

a{
    color: var(--color-letter-a);
    text-decoration:none; 
} 

.visually-hidden{
    clip:rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
 
.color-picker > fieldset{ 
    display: flex;
    gap:3rem; 
    justify-content: center; 
    border:0;
    background-color: var(--bg-color-picker); 
    border-radius: 0 0 1rem 1rem; 
    margin-inline: auto;
    padding: 1rem;  
    border-radius: 8px 8px 0px 0px; 

    position: fixed;
    left: 50%;
    bottom: 0rem;  
    transform: translate(-50%);  
    box-shadow: 0 0 1rem rgb(0 0 0 0.9); 
}

.color-picker input[type="radio"]{
    appearance: none;
    width: 1.3rem;
    height: 1.3rem; 
    outline: 3px solid var(--color-radio, currentColor); 
    outline-offset: 3px; 
    border-radius: 50%; 
}

.color-picker input[type="radio"]:checked{
    background-color: var(--color-radio);
}

.color-picker input[type="radio"]#light{
    --color-radio: hsl(240 0% 65%);  
}

.color-picker input[type="radio"]#pink{
    --color-radio:hsl(320 51% 40%); 

}

.color-picker input[type="radio"]#blue{
    --color-radio: rgb(44, 31, 90);
}  

.color-picker input[type="radio"]#dark{
    --color-radio:hsl(0 0% 10%); 
}

 


header{ 
    text-align: center;
    padding-top:20px;
    background-color: transparent;
    color: var(--color-letter-p); 
    padding:20px;
} 
 
 
.conteudo{
    margin-top: 30px; 
    background-color: var(--bg-conteudo);
    color: var(--color-letter);
    padding: 20px;
    border-radius: 10px;
}
.conteudo h1{
    margin: 10px;
    text-align: center;
    width: fit-content;
    color: var(--color-letter-h); 
}
.conteudo p{
    padding:10px; 
}
.title{
    margin:70px 0 30px;
}

.sections{     
    display: flex; 
    gap:30px; 
    text-align: center;
    flex-direction: row; 
    flex-wrap: wrap;  
    width: 100%;
   
    width: fit-content;
    border-radius: 8px; 
    padding-top: 25px;  
    justify-content: flex-start;
 }
 
section{
    background-color: var(--bg-conteudo);  
    border-radius: 10px;
    padding:30px;
    width: 280px;  
}
 
section h1{
    margin-bottom: 10px; 
    margin-inline: auto;
    width: fit-content;
 } 
 
 
section:hover{
    transform: scale(1.0);
    border: 3.5px solid var(--border-section);
    cursor: pointer;    
    border-radius: 25px;

} 

section p{
    display: flex;
    flex-direction: column;
    gap: 24px; 
    justify-content: space-between; 
    width:fit-content;
}

footer{ 
    display: flex;
    gap:100px;
    margin: 100px 0px 0 ;
    padding: 40px;  
    border-radius: 10px;  
    background-color: var(--bg-conteudo); 
    flex-wrap: wrap;
    height: fit-content;
 
}  
 
.footer-categories-list li , 
.footer-socials li,
.footer-other li{   
}

footer h3{
    color: var(--color-letter-h);   
    margin-bottom: 5px; 
    text-align: center;
}
footer li{
    text-decoration:none;
    list-style: none;
    font-size: 18px;    
    text-align: left;  
    width: fit-content;
    height: fit-content; 
    padding: 5px;
}


footer a{
    color: var(--color-letter-p);
    
}
  
footer li:hover{
    background-color: var(--color-lettter-footer); 
    border-radius: 8px;
}


@media(min-width: 500vw){
    .containe{
      max-width: 1300vw;
      flex-direction: row;
      flex-wrap:wrap;
    }
  }

